body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    height: 100vh;
    background: -webkit-linear-gradient(right, #20D281, #13BA08  );
    font-family: 'Major Mono Display', monospace;
}

.titulorh{
    position: absolute;
    z-index: 1;
    font-family: 'Major Mono Display', monospace;
    top: 25%;
    left: 25%;
}

.titulorh .R{
    font-size: 100px;
    text-shadow: 10px 10px 10px #1E8449;
    color: #58D68D;
    opacity: 0;
    animation: aparecer-izquierda 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes aparecer-izquierda{
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.titulorh .P{
    font-size: 100px;
    text-shadow: 10px 10px 10px #1E8449;
    color: #58D68D;
    opacity: 0;
    animation: aparecer-derecha 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes aparecer-derecha{
    0%{
        opacity: 0;
        transform: translateX(40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.titulorh .llr{
    font-size: 100px;
    position: absolute;
    text-shadow: 10px 10px 10px #1E8449;
    color: #58D68D;
    top: 0%;
    left: -10%;
    animation: esplazar-izquierdaT1 2.5s;
}


@keyframes esplazar-izquierdaT1 {
    0%{
        transform: translateX(330px) translateY(59px);
    }
    25%{
        transform: translateX(330px) translateY(0);
    }
    50%{
        transform: translateX(330px) translateY(0px);
    }
    75%{
        transform: translateX(0px) translateY(0px); 
    }
}

.titulorh .llp{
    font-size: 100px;
    position: absolute;
    text-shadow: 10px 10px 10px #1E8449;
    color: #58D68D;
    top: 50%;
    left: 100%;
    animation: esplazar-derecha 2.5s;
    animation-fill-mode: forwards;
}

@keyframes esplazar-derecha {
    0%{
        transform: translateX(-330px) translateY(-59px);
    }
    25%{
        transform: translateX(-330px) translateY(0);
    }
    50%{
        transform: translateX(-330px) translateY(0px);
    }
    75%{
        transform: translateX(0px) translateY(0px); 
    }
    
}

#canvas {
    width: 100%;
    height: 500px;
    box-shadow: 30px 30xp 0px black;
    
}

#canvas {
    position: absolute;
    z-index: 0;
    /*overflow: hidden;*/

}

.texto {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: normal 62px / normal "Sans-Serif", Helvetica, Comic Sans MS;
    color: rgb(14, 165, 0);
    text-decoration: none;
    white-space: pre;
    text-shadow: 0 0 10px rgb(0, 94, 23), 0 0 20px rgba(0, 94, 23),
        0 0 30px rgba(0, 94, 23), 0 0 40px #011d00, 0 0 70px #011d00,
        0 0 80px #011d00, 0 0 100px #001d05;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    width: 100%;
}

.titulo:hover {
    text-shadow: 0 0 10px rgb(0, 34, 7), 0 0 20px rgba(0, 34, 7),
        0 0 30px rgba(0, 34, 7), 0 0 40px #000000, 0 0 70px #000000,
        0 0 80px #000000, 0 0 100px #000000;
}

header{
    width: 100%;
    height: 68px;
    background: #6CB468;
    position: flex;
    justify-content: left;
}

header .logo {
    height: 60px;
    width: 60px;
    margin: 5px;
    animation: girarrapido 100ms 8,
    girarmedio 300ms 3,
    girarfinal 600ms 2;
}

@keyframes girarrapido {
    0%{
        transform: rotate(360deg);
    }
}

@keyframes girarmedio {
    0%{
        transform: rotate(360deg);
    }
}

@keyframes girarfinal {
    0%{
        transform: rotate(360deg);
    }
}

header .logo-letras {
    height: 10%;
    width: 30%;
    position: absolute;
    animation: aparecer 2s;
}

@keyframes aparecer {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
    
}

article .subcolor {
    color: black;
    font-size: 30px;
}

article .subcolor1 {
    color: black;
    font-size: 70px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

article {
    width: 100%;
    max-width: 800px;
    margin-top: 550px;
    margin-left: 70px;
}

article h1 { 
    font-size: 40px;
    font-weight: 100

}

article .contenido{
    min-width: 1200px;
    min-height: 500px;
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    border-style: none;
    background: -webkit-linear-gradient(left, #2D33B6, #ff8c00);
    margin-top: 10px;
    position: relative;

}

.SCROLL{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow:auto;
    position: relative;
    scroll-behavior: smooth;
    
}

.SCROLLv2{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    overflow:auto;
    position: relative;
    scroll-behavior: smooth;
}

/*trabajos seleccion*/

article .trabajoecho{
    min-width: 350px;
    width: 350px;
    height: 460px;
    border-radius: 59px;
    position: relative;
    overflow: hidden;
    margin-left: 2%;
    top: 0%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    transition: all 500ms ease-out;
}

article .trabajoecho img{
    width: 100%;
    height: 100%;
    border-style: none;
    position: absolute;
    cursor: pointer;
   
}

article .trabajoecho:hover{
    transform: scale(1.02);
}

article .trabajoecho .info{
    position: absolute;
    top: 245px;
    padding-left: 10px;
    font-size: auto;
    width: 100%;
    height: 100%;
}

article .trabajoecho .tituloinfo{
    position: relative;
    top: 200px;
    padding-left: 10px;
    font-size: 40px auto;
    width: 100%;
    height: 100%;
    font-family: 'Major Mono Display', monospace;
}
/*fin*/
article h1{
    font-family: 'Major Mono Display', monospace;
}

article p {
    font-size: 20px;
    margin-top: 20px;
}

header .opciones {
    position: absolute;
    justify-content: center;
    display: flex;
    padding-top: 1.5%;
    left: 45%;
}

header .opciones .lip{
    display: inline-block;
    padding: 0px 20px;
    list-style: none; 
}

header .opciones .lip .ap{
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

header .opciones .lip .ap:hover{
    box-shadow: 0px 0px 10px 10px #011d00;
    background: #011d00;
    color:  white;
    transition: all 200ms ease-out;
}

header .opciones .list-bottom .ap{
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

header .opciones .list-bottom .ap:hover{
    box-shadow: 0px 0px 10px 10px #011d00;
    background: #011d00;
    color:  white;
    transition: all 200ms ease-out;
}

.preguntas {
    width: 100%;
    max-width: 800px;
    margin-left: 70px;
}

.preguntas .pregu{
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    font-weight: 100
}

.preguntas .Cajapregunta{
    min-width: 1200px;
    min-height: 500px;
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    border-style: none;
    background: -webkit-linear-gradient(left, #2D33B6, #ff8c00);
    margin-top: 10px;
    position: relative;
    justify-items: center;
    flex-direction: column;
}

.preguntas .Cajapregunta .pi .caja1{
    text-decoration: none;
    color: black;
    font-size: 50px;
    position: relative;
    top: -10px;
}
.preguntas .Cajapregunta .pi .caja2{
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: relative;
    top: 20px;
    background: #EAEAEA;
    margin: 20px;
    border-radius: 5px;
    transition: opacity 1.5s;
}
ul, li, a{
    list-style: none; 
}
.preguntas .Cajapregunta .lista-preguntas{
    position: relative;
    height: auto;
    width: 90%;
    padding: 15px 15px;
    background: #EAEAEA;
    border-radius: 10px;
    left: 5%;
    top: 5%;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    
}

.lista-preguntas > .pi{
    float: left;
    opacity: 1;
}

.lista-preguntas .pi .informacion{
    display: none;
    position: absolute;
    min-width: 1000px;
}

.lista-preguntas .pi:hover .informacion{
    display: block;
}

.lista-preguntas .pi .informacion{
    position: relative;
}

.preguntas .Cajapregunta .pi .caja1 img{
    width: 80px;
    height: auto;
    position: relative;
    margin-left: 5px;
    top: 20px;
    box-shadow: 0px 0px 20px 5px black;
    border-radius: 50px;
}

.preguntas .Cajapregunta .pi .caja2 img{
    width: 90%;
    height: auto;
    position: relative;
    margin-left: 5px;
    margin: 20px;
    top: 20px;
    border-radius: 50px;
}







